In [4]:
import pandas as pd
class DataHandler:
    def __init__(self):
        self.df_prices = None
        self.df_listing = None
        self.df_merged = None
    def get_data(self):
        self.df_prices = pd.read_csv("datas/price_availability.csv", sep=";")
        self.df_listing = pd.read_csv("datas/listings_final.csv", sep=";")
    def group_data(self):
        df_merged = pd.merge(self.df_listing, self.df_prices, on='listing_id')
        mean_prices = df_merged.groupby(['listing_id'])["local_price"].mean()
        self.df_prices = pd.merge(self.df_prices, mean_prices, on='listing_id')
        self.df_merged = pd.merge(self.df_listing, self.df_prices, on='listing_id')
        print(self.df_merged)
    def get_process_data(self):
        self.get_data()
        self.group_data()

In [5]:
data = DataHandler()
data.get_process_data()

        Unnamed: 0  listing_id              name          type   city  \
0                0    28581061   La maison Clery  private_room  Paris
1                0    28581061   La maison Clery  private_room  Paris
2                0    28581061   La maison Clery  private_room  Paris
3                0    28581061   La maison Clery  private_room  Paris
4                0    28581061   La maison Clery  private_room  Paris
...            ...         ...               ...           ...    ...
402611         999    28682896  Village Jourdain  private_room  Paris
402612         999    28682896  Village Jourdain  private_room  Paris
402613         999    28682896  Village Jourdain  private_room  Paris
402614         999    28682896  Village Jourdain  private_room  Paris
402615         999    28682896  Village Jourdain  private_room  Paris

                        neighborhood   latitude  longitude  person_capacity  \
0                  2e arrondissement  48.869292   2.348335                1
1                  2e arrondissement  48.869292   2.348335                1
2                  2e arrondissement  48.869292   2.348335                1
3                  2e arrondissement  48.869292   2.348335                1
4                  2e arrondissement  48.869292   2.348335                1
...                              ...        ...        ...              ...
402611  Buttes-Chaumont - Belleville  48.875425   2.395240                2
402612  Buttes-Chaumont - Belleville  48.875425   2.395240                2
402613  Buttes-Chaumont - Belleville  48.875425   2.395240                2
402614  Buttes-Chaumont - Belleville  48.875425   2.395240                2
402615  Buttes-Chaumont - Belleville  48.875425   2.395240                2

        beds  ...  is_business_travel_ready  pricing_weekly_factor  \
0          1  ...                     False                    1.0
1          1  ...                     False                    1.0
2          1  ...                     False                    1.0
3          1  ...                     False                    1.0
4          1  ...                     False                    1.0
...      ...  ...                       ...                    ...
402611     1  ...                     False                    1.0
402612     1  ...                     False                    1.0
402613     1  ...                     False                    1.0
402614     1  ...                     False                    1.0
402615     1  ...                     False                    1.0

        pricing_monthly_factor         day                       created  \
0                          1.0  2018-10-28  2018-09-27 10:40:22.000+0000
1                          1.0  2018-10-28  2018-09-27 06:06:07.000+0000
2                          1.0  2018-10-28  2018-09-26 19:31:53.000+0000
3                          1.0  2018-09-01  2018-09-27 10:40:22.000+0000
4                          1.0  2018-09-01  2018-09-27 06:06:07.000+0000
...                        ...         ...                           ...
402611                     1.0  2018-10-16  2018-09-27 06:16:22.000+0000
402612                     1.0  2018-10-16  2018-09-26 19:36:28.000+0000
402613                     1.0  2018-09-10  2018-09-27 10:50:12.000+0000
402614                     1.0  2018-09-10  2018-09-27 06:16:22.000+0000
402615                     1.0  2018-09-10  2018-09-26 19:36:28.000+0000

        available  local_currency  local_price_x  min_nights local_price_y
0           False             EUR             47           1     45.948454
1           False             EUR             47           1     45.948454
2           False             EUR             47           1     45.948454
3            True             EUR             47           1     45.948454
4            True             EUR             47           1     45.948454
...           ...             ...            ...         ...           ...
402611       True             EUR             40           1     39.503937
402612       True             EUR             39           1     39.503937
402613       True             EUR             39           1     39.503937
402614       True             EUR             39           1     39.503937
402615       True             EUR             39           1     39.503937

[402616 rows x 26 columns]